root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
tab_width = 4

ij_continuation_indent_size = 8
ij_visual_guides = 80,100
ij_wrap_on_typing = false

[*.md]
trim_trailing_whitespace = false

[*.feature]
indent_size = 2

[{*.rb,Gemfile}]
indent_size = 2

[{*.yaml,*.yml}]
indent_size = 2
ij_yaml_indent_sequence_value = false
ij_yaml_indent_size = 2

[{*.lock,*.log,*.jsonl}]
generated_code = true
ij_formatter_enabled = false
