name: Confirm Releasability

on:
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    - unlabeled

jobs:
  releasability:
    if: ${{ ! contains(github.event.pull_request.labels.*.name, 'no changelog') }}
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      with:
        ref: ${{ github.event.pull_request.head.sha }} # here, we're not interested in the merge commit

    - name: Conventional commits check
      uses: oknozor/cocogitto-action@c7a74f5406bab86da17da0f0e460a69f8219a68c # v3

    # Kudos: https://github.com/miniscruff/changie/blob/76fdd65ab31047fd6d506f800a6293f3b2a1ead0/.github/workflows/changelog-check.yml # editorconfig-checker-disable-line
    - name: "Check for changelog entries"
      uses: brettcannon/check-for-changed-files@871d7b8b5917a4f6f06662e2262e8ffc51dff6d1 # v1.2.1
      with:
        file-pattern: |
          .changes/unreleased/*.yaml
        skip-label: "no changelog"
        token: "${{ secrets.GITHUB_TOKEN }}"
        failure-message: |
          Missing a new changelog entry.
          Please add one with `changie new`, or
          apply label '${skip-label}' to the pull request."

    - uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3
      with:
        install: false # we only need env

    - name: Install changie
      uses: miniscruff/changie-action@6dcc2533cac0495148ed4046c438487e4dceaa23 # v2
      with:
        args: --version

    - name: Test changelog assembly
      run: |
        changie next auto
        changie batch auto
        changie merge
        changie latest
