name: Tests

on:
  push:
    branches:
    - main
    - renovate/**
    tags:
    - 'v*'
  pull_request:
    types:
    - opened
    - synchronize
    - reopened

jobs:
  lint:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

    - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3

    - name: golangci-lint
      uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6
      with:
        version: latest

  test:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

    - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3

    - name: Unit Tests
      run: go test -cover ./...

  acceptance-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - 'ubuntu-latest'
        - 'macos-latest'
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

    - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3

    - name: Prepare runnable binary
      run: |
        mkdir bin
        echo "${GITHUB_WORKSPACE}/bin" >> "${GITHUB_PATH}"

    #- name: Build binary
    #  uses: goreleaser/goreleaser-action@v5.0.0
    #  with:
    #    args: build --clean --snapshot --single-target --output bin/template-goapp
    #    # TODO: enable coverage
    #  env:
    #    # Fix version to match the one expected in tests:
    #    GORELEASER_CURRENT_TAG: v1.2.3

    - name: Build binary
      run: |
        go build \
          -cover \
          -ldflags "-s -w -X main.version=1.2.3" \
          -o bin/template-goapp
      env:
        CGO_ENABLED: 0

    - name: Install Test Dependencies
      working-directory: test
      run: |
        gem install bundler
        bundle install

    - name: Run tests
      working-directory: test
      run: |
        mkdir "${GOCOVERDIR}"
        bundle exec cucumber --publish-quiet --tags 'not @pending'
        go tool covdata percent -i="${GOCOVERDIR}"
      env:
        GOCOVERDIR: /tmp/coverage
      # TODO: Report coverage so that it's visible on PRs
