name: Trigger Release

on:
  workflow_dispatch:

jobs:
  trigger-release:
    runs-on: 'ubuntu-latest'
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

    - uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3
      with:
        install: false # we only need env

    # TODO: test again?

    - name: Install changie
      uses: miniscruff/changie-action@6dcc2533cac0495148ed4046c438487e4dceaa23 # v2
      with:
        args: --version

    - name: Assemble release notes
      id: release_notes
      run: |
          changie batch auto
          changie merge
          git status
          echo "version=$(changie latest)" >> "$GITHUB_OUTPUT"

    - name: Commit changelog
      run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"

          git add ".changes/$(changie latest).md"
          git commit --all -m "chore(doc): CHANGELOG for $(changie latest)"
          git push origin

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@5742e2a039330cbb23ebf35f046f814d4c6ff811 # v5.1.0
      with:
        version: latest
        args: --clean --release-notes=.changes/${{ steps.release_notes.outputs.version }}.md --verbose --skip=validate
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GORELEASER_CURRENT_TAG: "${{ steps.release_notes.outputs.version }}"
